

.text-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 40px;

    background-image: url(images/bannerpaw.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.catpaw {
    max-width: 30px; 
    height:auto;
    display: flex;
    margin: 0 10px; 

}
.cat-header{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    padding-left: 30px;
    align-items: center; 
    padding-top: 130px;
}


form{
    font-family: 'Lato', sans-serif;
    background-position: right center;
    font-size: 17px;
    font-weight: bolder;
    width:90%;
    margin:30px;
}


input[type="name"],
input[type="email"],
input[type="phonenumber"],
input[type="inquiry"]{
    margin-bottom: 10px;
    background-color:#8a8989;
    border-radius:15px;
    width: 100%;
    padding-bottom: 20px;
}

input[type="inquiry"]{
    display: flex;
    padding-bottom: 50px;
}


button{
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #30333A;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    font-family: 'Lato', 'sans-serif';
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: #30333A;
    color: #ECA390;
}

.adopt-cat-button:hover {
    background-color: #30333A;
    color: #ECA390;
}


article {
    
    font-family: 'Lato', sans-serif;
    background-size: 80%;
    background-repeat: no-repeat; 
    background-position: right center;
    font-size: 17px;
    font-weight: bolder;
    width:91%;
    margin:10px auto;
    padding-top: 110px;
}