/* Namespace for Code 2 */
.footer-container {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #30333A;
    margin: 0;
}

.footer-container .col-1,
.footer-container .col-2,
.footer-container .col-3,
.footer-container .col-4 {
    flex: 1;
    justify-content: space-between;
    padding: 20px;
    padding-left: 70px;
    text-align: left;
    margin: 0;
}

.footer-container .col-2 {
    padding-left: 0;
}

.footer-container .col-3 {
    padding-right: 0;
}

.footer-container .col-4 {
    flex: 1;
    padding-left: 0;
}

.footer-container nav ul {
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.footer-container nav a,
.footer-container nav a:visited,
.footer-container nav a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-container nav a:hover {
    color: #ECA390;
    font-weight: underline;
}

.footer-container img {
    width: 200px;
    padding-top: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
}
